<div class="container">

	<h1>Profiles#show</h1>

	<h2><%= @user.username %></h2>

	<div class="avatar"><%= image_tag @user.avatar.url :original %></div>
	<div>
		<%= link_to "Edit Profile", edit_user_registration_path %>	
	</div>

	<br>

	<h1>Events</h1>

	<% current_user.events.each do |event| %>
	<% url = '/events/' + event.id.to_s %>
		<%= link_to url do %>
		 	<%= event.name %><br>
	 	<% end %>
		 	<%= event.description%><br>
		 	<%= event.location_name %><br>
		 	<img src=<%= event.location_photo_url%>><br>
		 
		 <a href=<%=event.location_url%>><img class="yelp-logo" src="/Yelp_trademark_RGB_outline.png"></a><br>
	 <% end %>


</div>


