<h1>Profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>


<%= @user.email %>
<%= @user.username %>
<%= @user.created_at %>
<br>

<h1>Events</h1>
<% current_user.events.each do |event| %>
 	<%= event.name %>
 	<%= event.description%>
 	<%= event.location %>

 <% end %>


