<h2>Add your comments:</h2>

<%= form_for Comment.new do |f| %>
	
	<%= f.label :title, value: "Title: " %>
	<%= f.text_field :title %><br>

	<%= f.label :content, value: "Content: " %>
	<%= f.text_field :content %><br>

	<%= f.submit "Add Comment" %>

<% end %>