<!-- this first line of code is to send @array to JS so that the events close to the geolocation of the user device will be shown on the events page when going there from this view. bz-->
<%if current_user %> <script> array = <%= @array %> </script> <%end%>
<h2>Edit your comment:</h2>

<%= form_for @comment do |f| %>

	<%= f.label :title, value: "Title: " %>
	<%= f.text_field :title %><br>

	<%= f.label :content, value: "Content: " %>
	<%= f.text_field :content %><br>

	<%= f.submit "Update Comment" %>

<% end %>