<!-- this first line of code is to send @array to JS so that the events close to the geolocation of the user device will be shown on the events page when going there from this view. bz-->
<%if current_user %> <script> array = <%= @array %> </script> <%end%>
<h2>Edit Your Event</h2>

<h3><%=@event.location_name%></h3>
<img src=<%=@event.location_photo_url%>>
<a href=<%=@event.location_url%>><img class="yelp-logo" src="/Yelp_trademark_RGB_outline.png"></a>

<%= form_for @event do |f| %>
	
	<%= f.label :name, value: "Name: " %>
	<%= f.text_field :name %><br>

	<%= f.label :time, value: "Time: " %>
	<%= f.text_field :time %><br>

	<!-- Eventually, users will be able to change the location of the event -->

	<%= f.label :description, value: "Event Description: " %>
	<%= f.text_field :description %><br>

	<%= f.submit "Update Event" %>

<% end %>