<div class="event-container">
	<% @events.each do |event| %>
		<div class="event-card">
			<h2><a href="/events/<%= event.id %>"><%= event.name %></a></h2>
			<h3><%= event.location %></h3>
			<h3><%= event.time %></h3>
			<p><%= event.description %></p>
		</div>
	<% end %>
</div>