<h2>Create A New Event!</h2>

<%= form_for @event do |f| %>
	
	<%= f.label :name, value: "Name: " %>
	<%= f.text_field :name %><br>

	<%= f.label :time, value: "Time: " %>
	<%= f.text_field :time %><br>

	<%= f.label :location, value: "Location: " %>
	<%= f.text_field :location %><br>
	<!-- Eventually, this location will be pulled from Yelp API -->

	<%= f.label :description, value: "Event Description: " %>
	<%= f.text_field :description %><br>

	<%= f.submit "Create Event" %>

<% end %>