<h2>Create A New Event!</h2>

<h3>Event at <%= @location_name %></br> </h3></br>
<img src=<%=@location_photo_url %>></br>
<%= @location_street_address %></br>
<%= @location_city %></br>


<%= form_for @event do |f| %>

	<%= f.hidden_field :location_name, value: "#{@location_name}" %>
	<%= f.hidden_field :location_street_address, value: "#{@location_street_address}" %>
	<%= f.hidden_field :location_city, value: "#{@location_city}" %>
	<%= f.hidden_field :location_photo_url, value: "#{@location_photo_url}" %>
	<%= f.hidden_field :location_url, value: "#{@location_url}" %>
	<%= f.hidden_field :location_postal_code, value: "#{@location_postal_code}"%>
	<%= f.label :name, value: "Name: " %>
	<%= f.text_field :name %><br>

	<%= f.label :time, value: "Time: " %>
	<%= f.text_field :time %><br>

	<%= @business_name %>

	<% if @businesses %>
		<%= @business_name %>
	<% end %>
	<!-- Eventually, this location will be pulled from Yelp API -->

	<%= f.label :description, value: "Event Description: " %>
	<%= f.text_field :description %><br>

	<%= f.submit "Create Event" %>

<% end %>