<!DOCTYPE html>
<html>
  <head>
    <title>NightOut</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
  <h1>Night Out Application</h1>

    <% if current_user %>
  		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
		<%= link_to("/profiles/#{current_user.id}", :method => :get) do %>
		Profile
		<% end %>
    <a href="/events">Events</a>
	<% end %>

	<% if !current_user %>
		<ul class="nav navbar-nav">
			<li><a href="/users/sign_up">Sign Up</a></li>
			<li><a href="/users/sign_in">Sign In</a></li>
			</ul>
			<br>
	<% end %>
    	<%= yield %>

	</div>
  </body>
</html>
