<!-- this first line of code is to send @array to JS so that the events close to the geolocation of the user device will be shown on the events page when going there from this view. bz-->
<%if current_user %> <script> array = <%= @array %> </script> <%end%>
<!DOCTYPE html>
<html>
  <head>
    <title>NightOut</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>

  <body>

<!-- navigation bar -->


  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/">NightOut<span class="glyphicon glyphicon-glass"></span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">

        <% if !current_user %>
          <li class="dropdown"><a href="/">Home</a></li>
          <li><a href="/users/sign_up">Sign Up</a></li>
          <li><a href="/users/sign_in">Sign In</a></li>

        <% else %>
        
          <li><a href="/profiles/<%=current_user.id.to_s%>">Profile</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/users/edit">My Account</a></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>



<!-- content -->

    <%= yield %>




<!-- footer -->
<div class="filler"></div>
    <div class="container-fluid footer-nav">
      <div class="copyright navbar-fixed margin2">
        <div class="container">
          <div class="col-md-6">
            <h3>Night Out</h3>
          </div>
          <div class="col-md-6">
            <ul class="nav navbar-nav navbar-right">
              <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
              <li><i class="fa fa-github" aria-hidden="true"></i></li>
              <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
              <li><i class="fa fa-yelp" aria-hidden="true"></i></li>
              <li><i class="fa fa-reddit-alien" aria-hidden="true"></i>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
